body{
overflow-y: scroll;
padding: 0;
margin: 0;
font-family: Lohit;
font-size: 22px;
width: 960px;
margin: 60px auto;
text-align: center;
}


@font-face{
font-family: "Lohit";
src: url('Lohit.otf') format('opentype');
}